img {
  width: 300px;
  display: block;
  margin: auto;
  margin-top: 200px;
  transition: transform 2s;
  transform-origin: 30% 80%;
}

img:hover {
  /* transform: translate(-500px, 200px); */
  /* transform: scale(2); */
  /* transform: rotate(-0.5turn); */
  /* transform: rotate(200grad); */
  /* transform: skew(30deg, 40deg); */
  transform: rotate(45deg);
}
